<%= form_with(model: @event, class: 'form-main', local: true) do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">Title</label>
        </div>
        <%= f.text_area :title, class:"input-default" %>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">Date</label>
        </div>
        <div class="form-time">
          <%= f.datetime_select :start_time, class:"time" %>
        </div>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">Content</label>
        </div>
        <%= f.text_area :content, class:"input-default large" %>
      </div>

      <div class="submit">
        <%= f.submit class:"submit-btn" %>
      </div>
    </div>
  </div>
<% end %>