<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  <% if HolidayJp.holiday?(date) %>
    <span class="holiday_name"><%= HolidayJp.between(date,date).first.name %></span>
  <% end %>
  <% unless events.blank? %>
    <div class="event_count" >
      <%= "#{events.length}件の予定" %>
      <ul class="event_list hidden">
        <li class="list_title"><%= "#{date.month}月#{date.day}日の予定" %></li>
        <% events.each do |event| %>
          <li><%= event.title %></li>
        <% end %>
        <div class="close_btn"><i class="fa-solid fa-xmark"></i></div>
      </ul>
    </div>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <div class="future_events">
    <h1>今後の予定</h1>
    <div class="event-table">
      <table class="table sm table-striped ">
        <thead>
          <tr>
            <th scope="col" style="width: 15%">予定</th>
            <th scope="col" style="width: 15%">日付</th>
            <th scope="col" style="width: 60%">内容</th>
            <th scope="col" style="width: 10%">削除</th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event|%>
            <% unless event.start_time.to_date.past? %>
              <tr>
                <td><%= link_to event.title, edit_event_path(event.id) %></td>
                <td><%= "#{event.start_time.month}月#{event.start_time.day}日" %></td>
                <td class="event_content"><%= event.content %></td>
                <td class="del_btn">
                  <%= link_to event_path(event.id), method: :delete, data: {confirm: "本当に削除しますか？"} do %>
                    <i class="fa-solid fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% if user_signed_in? %>
  <div class='user-btn'>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </div>
  <%= link_to new_event_path, class: 'event-btn' do %>
    <span class='event-btn-text'><i class="fa-regular fa-pen-to-square"></i><%= '予定を追加' %></span>
  <% end %>
<% else %>
  <div class='user-btn'>
    <%= link_to 'ログイン', new_user_session_path %>
  </div>
  <div class='event-btn'>
    <%= link_to '新規登録', new_user_registration_path, class: 'event-btn-text' %>
  </div>
<% end %>
