<%= link_to new_event_path do %>
  <i class="fa-regular fa-pen-to-square"></i>
  <%= 'イベント追加' %>
<% end %>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
  <div>
    <%= event.title %>
  </div>
  <% end %>
<% end %>